<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySpring.myapp.notice.dao.NoticeDAO">

    <!-- 공지사항 목록 조회 -->
    <select id="selectAllNoticesList" resultType="com.mySpring.myapp.notice.vo.NoticeVO">
        <![CDATA[
        SELECT "NOTICENO", "NOTICEID", "USERID", "TITLE", "CONTENT", "NOTICEIMG", "CRTDATE"
        FROM "NOTICES"
        ORDER BY "NOTICENO" DESC
        ]]>
    </select>

    <!-- 공지사항 상세 보기 -->
    <select id="selectNotice" parameterType="int" resultType="com.mySpring.myapp.notice.vo.NoticeVO">
        <![CDATA[
        SELECT "NOTICENO", "NOTICEID", "USERID", "TITLE", "CONTENT", "NOTICEIMG", "CRTDATE"
        FROM "NOTICES"
        WHERE "NOTICENO" = #{noticeno}
        ]]>
    </select>

    <!-- 공지사항 등록 -->
    <insert id="insertNotice" parameterType="map">
        <![CDATA[
        INSERT INTO "NOTICES" 
        ("NOTICENO", "NOTICEID", "USERID", "TITLE", "CONTENT", "NOTICEIMG", "CRTDATE")
        VALUES (
            #{noticeno}, 
            NOTICEID_SEQ.NEXTVAL, -- SEQUENCE 사용
            #{userid, jdbcType=VARCHAR}, 
            #{title, jdbcType=VARCHAR}, 
            #{content, jdbcType=VARCHAR}, 
            #{noticeimg, jdbcType=VARCHAR}, 
            SYSDATE
        )
        ]]>
    </insert>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="int">
        <![CDATA[
        DELETE FROM "NOTICES"
        WHERE "NOTICENO" = #{noticeno}
        ]]>
    </delete>

    <!-- 새 공지사항 번호 생성 -->
    <select id="selectNewArticleNo" resultType="int">
        <![CDATA[
        SELECT NVL(MAX("NOTICENO"), 0) + 1 FROM "NOTICES"
        ]]>
    </select>

</mapper>
